# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / cache
*.log
*.sqlite3
*.db
build/
dist/
*.egg-info/

# Render build artifacts
.render/

# All json files
*.json